<%- include('../layouts/adminHeader.ejs') %>
    <form action="" method="post" enctype="multipart/form-data" id="product-form"
        onsubmit="return validationChecking()">

        <section class="content-main">
            <div class="row">
                <div class="col-9">
                    <div class="content-header">
                        <h2 class="content-title">Add New Product</h2>
                        <div>
                            <a href='admin/product'> <button
                                    class="btn btn-light rounded font-sm mr-5 text-body hover-up">cancel</button></a>
                            <input type="submit" class="btn btn-md rounded font-sm hover-up" value="Upload"
                                >

                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="card mb-4">
                        <div class="card-body">
                            <div class="mb-4">
                                <label for="product_title" class="form-label">Product title</label>
                                <input type="text" placeholder="Type here" name="name" class="form-control"
                                    id="product_title">
                                <div class="error-message" style="color: red;" id="product_title-error"></div>

                            </div>
                            <div class="row gx-3">
                                <div class="col-md-6  mb-3">
                                    <label for="product_sku" class="form-label">Brand</label>
                                    <input type="text" placeholder="Type here" name="brand" class="form-control"
                                        id="product_brand">
                                    <div class="error-message" style="color: red;" id="product_brand-error"></div>

                                </div>
                                <div class="col-md-6  mb-3">
                                    <label for="inputPassword4" class="form-label">category</label>
                                    <select name="categoryData" id="category" class="form-control">
                                        <div class="error-message" style="color: red;" id="category-error"></div>
                                        <option value="" disabled selected>Select a Category
                                        </option>
                                        <% categories?.forEach(category=> { %>
                                            <option id="category" value="<%= category._id %>">
                                                <%= category.name %>
                                            </option>
                                            <% }); %>



                                    </select>
                                    <div class="error-message" style="color: red;" id="category-error"></div>

                                </div>



                            </div>


                        </div>
                    </div> <!-- card end// -->
                    <div class="card mb-4">
                        <div class="card-body">
                            <div class="row gx-3">
                                <div class="col-md-6">
                                    <label for="inputPrice" class="form-label">  </label>
                                    <input type="text" class="form-control" name="price" id="inputprice"
                                        placeholder="enter the price">
                                    <div class="error-message" style="color: red;" id="product_price-error"></div>
                                </div>



                                <div class="col-md-6  mb-3">

                                    <label class="form-label">Discount Price</label>

                                    <input type="number" name="discountPrice" placeholder="Type here"
                                        class="form-control" id="product_discount">
                                    <div class="error-message" style="color: red;" id="product_discount-error"></div>



                                </div>

                                <div class="col-md-6  mb-3">
                                    <label class="form-label">Product Color</label>
                                    <input type="text" name="productColor" placeholder="Type here" class="form-control"
                                        id="product_color">
                                    <div class="error-message" style="color: red;" id="product_color-error"></div>
                                </div>
                                <div class="col-md-6 mb-3">
                                    <label for="inputAddress2" class="form-label">gender</label>
                                    <select name="gender"  class="form-control">
                                        <!-- <div class="error-message" style="color: red;" id="gender-error"></div> -->
                                        <option value="" disabled selected>Select a Gender
                                        </option>
                                        <% gender?.forEach(value=> { %>
                                            <option id="gender" value="<%= value %>">
                                                <%= value %>
                                            </option>
                                            <% }); %>
                                    </select>
                                    <div class="error-message" style="color: red;" id="gender-error"></div>
                                </div>

                            </div>
                         




                            <div>
                                <label class="form-label">Description</label>
                                <textarea placeholder="Type here" name="description" class="form-control"
                                    rows="4" id="description"></textarea>
                                <div class="error-message" style="color: red;" id="description-error"></div>

                            </div>
                        </div>
                    </div> <!-- card end// -->

                </div>
                <div class="col-lg-3">
                    <div class="card mb-4">
                        <div class="card-header">
                            <h4>Picture</h4>
                        </div>
                        <div class="card-body">
                            
                            <div class="card mb-4">
                                <div class="card-body">
                                    
                                    <div class="images-container">
                                        <div class="image-preview-container d-flex flex-wrap justify-content-center">
                                            <!-- Placeholder for default image -->
                                            <div class="image-container border-1">
                                                <img style="width: 100px; height: 100px; margin-bottom: 20px;" src="/uploadimage.svg" alt="Default" class="image-preview">
                                            </div>
                                        </div>
                                        <input class="form-control" name="image"  multiple="multiple" type="file" onchange="displayImages(this)">
                                        <div class="error-message" style="color: red;" id="product_image-error"></div>
                                    </div>
                                    
                                    <script>
                                        function displayImages(input) {
                                            const previewContainer = document.querySelector('.image-preview-container');
                                            previewContainer.innerHTML = ''; // Clear previous previews
                                    
                                            if (input.files && input.files.length > 0) {
                                                for (let i = 0; i < input.files.length; i++) {
                                                    const reader = new FileReader();
                                                    reader.onload = function (e) {
                                                        const imagePreview = document.createElement('div');
                                                        imagePreview.classList.add('image-container');
                                                        const img = document.createElement('img');
                                                        img.src = e.target.result;
                                                        img.style.width = '100px';
                                                        img.style.height = '100px';
                                                        img.style.marginBottom = '20px';
                                                        img.style.marginRight = '5px'; 
                                                        img.style.marginLeft = '5px'; 
                                                        img.classList.add('image-preview');
                                                        imagePreview.appendChild(img);
                                                        previewContainer.appendChild(imagePreview);
                                                    };
                                                    reader.readAsDataURL(input.files[i]);
                                                }
                                            } else {
                                                const defaultImagePreview = document.createElement('div');
                                                defaultImagePreview.classList.add('image-container');
                                                const defaultImg = document.createElement('img');
                                                defaultImg.src = '/uploadimage.svg';
                                                defaultImg.style.width = '100px';
                                                defaultImg.style.height = '100px';
                                                defaultImg.style.marginBottom = '20px';
                                                defaultImg.style.marginRight = '5px'; 
                                                defaultImg.style.marginLeft = '5px'; 
                                                defaultImg.classList.add('image-preview');
                                                defaultImagePreview.appendChild(defaultImg);
                                                previewContainer.appendChild(defaultImagePreview);
                                            }
                                            
                                        }
                                    </script>
                                </div>
                            </div>
                        </div>
                    </div> 
              
                </div>
               
                <div id="invalid">
                    <% if (typeof message !=='undefined' && message) { %>
                        <p style="color: rgb(8, 96, 0);" id="message">
                            <%= message %>
                        </p>
                        <% } %>
                                      
                </div>
            </div> <!-- card end// -->
            </div>

            </div>
        </section>
    </form>
    

<script>
    document.addEventListener('DOMContentLoaded', () => {
        const product_title = document.getElementById("product_title");
        const product_title_error = document.getElementById("product_title-error");
        const brand = document.getElementById("product_brand");
        const brand_error = document.getElementById("product_brand-error");
        const category = document.getElementById("category");
        const category_error = document.getElementById("category-error");
        const price = document.getElementById("inputprice");
        const price_error = document.getElementById("product_price-error");
        const discount_price = document.getElementById("product_discount");
        const discount_price_error = document.getElementById("product_discount-error");
        const product_color = document.getElementById("product_color");
        const product_color_error = document.getElementById("product_color-error");
        const gender = document.getElementById("gender");
        const gender_error = document.getElementById("gender-error");
        const description = document.getElementById("description");
        const description_error = document.getElementById("description-error");

        product_title.addEventListener('input', () => {
            product_title_error.innerHTML = product_title.value.trim() === "" ? "please enter product name" : "";
        });

        brand.addEventListener('input', () => {
            brand_error.innerHTML = brand.value.trim() === "" ? "please enter brand" : "";
        });

        price.addEventListener('input', () => {
            price_error.innerHTML = price.value.trim() === "" ? "please enter price" : "";
        });

        discount_price.addEventListener('input', () => {
            discount_price_error.innerHTML = discount_price.value.trim() === "" ? "please enter discount price" : "";
        });

        product_color.addEventListener('input', () => {
            product_color_error.innerHTML = product_color.value.trim() === "" ? "please enter product color" : "";
        });

        gender.addEventListener('input', () => {
            gender_error.innerHTML = gender.value.trim() === "" ? "please select gender" : "";
        });

        description.addEventListener('input', () => {
            description_error.innerHTML = description.value.trim() === "" ? "please enter description" : "";
        });
    });

    function validationChecking() {
        const product_title = document.getElementById("product_title").value;
        const brand = document.getElementById("product_brand").value;
        const category = document.getElementById("category").value;
        const price = document.getElementById("inputprice").value;
        const discount_price = document.getElementById("product_discount").value;
        const product_color = document.getElementById("product_color").value;
        const gender = document.getElementById("gender").value;
        const description = document.getElementById("description").value;

        const product_title_error = document.getElementById("product_title-error");
        const brand_error = document.getElementById("product_brand-error");
        const category_error = document.getElementById("category-error");
        const price_error = document.getElementById("product_price-error");
        const discount_price_error = document.getElementById("product_discount-error");
        const product_color_error = document.getElementById("product_color-error");
        const gender_error = document.getElementById("gender- ");
        const description_error = document.getElementById("description-error");

        product_title_error.innerHTML = product_title.trim() === "" ? "please enter product name" : "";
        brand_error.innerHTML = brand.trim() === "" ? "please enter brand" : "";
        category_error.innerHTML = category.trim() === "" ? "please select category" : "";
        price_error.innerHTML = price.trim() === "" ? "please enter price" : "";
        discount_price_error.innerHTML = discount_price.trim() === "" ? "please enter discount price" : "";
        product_color_error.innerHTML = product_color.trim() === "" ? "please enter product color" : "";
        gender_error.innerHTML = gender.trim() === "" ? "please select gender" : "";
        description_error.innerHTML = description.trim() === "" ? "please enter description" : "";

        return !(product_title.trim() === "" || brand.trim() === "" || category.trim() === "" || price.trim() === "" || discount_price.trim() === "" || product_color.trim() === "" || gender.trim() === "" || description.trim() === "");
    }
</script>

    
    
    




    <script>
        let sizeCount = 0;

      

        function displayImage(imageNumber, input) {
            const preview = document.getElementById(`image-preview${imageNumber}`);

            if (input.files && input.files[0]) {
                const reader = new FileReader();
                reader.onload = function (e) {
                    preview.src = e.target.result;
                };
                reader.readAsDataURL(input.files[0]);
            } else {
                preview.src = '';
            }
        }
    </script>


    <%- include('../layouts/adminFooter.ejs') %>