<%- include('../layouts/userHeader.ejs') %>
    <main class="main">
        <div class="page-header breadcrumb-wrap">
            <div class="container">
                <div class="breadcrumb">
                    <a href="index.html" rel="nofollow">Home</a>
                    <span></span> Pages
                    <span></span> Account
                </div>
            </div>
        </div>
        <section class="pt-150 pb-150">
            <div class="container">
                <div class="row">
                    <div class="col-lg-10 m-auto">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="dashboard-menu">
                                    <ul class="nav flex-column" role="tablist">
                                        <li class="nav-item">
                                            <a class="nav-link active" id="dashboard-tab" data-bs-toggle="tab"
                                                href="#dashboard" role="tab" aria-controls="dashboard"
                                                aria-selected="false"><i
                                                    class="fi-rs-settings-sliders mr-10"></i>Dashboard</a>
                                        </li>

                                        <li class="nav-item">
                                            <a class="nav-link" id="orders-tab-link" data-bs-toggle="tab"
                                                href="/orderSuccess" role="tab" aria-controls="/orderSuccess"
                                                aria-selected="false"><i class="fi-rs-shopping-cart-check mr-10"></i>
                                                Your Order</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" id="address-tab" data-bs-toggle="tab" href="#address"
                                                role="tab" aria-controls="address" aria-selected="true"><i
                                                    class="fi-rs-marker mr-10"></i>My
                                                Address</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" id="account-detail-tab" data-bs-toggle="tab"
                                                href="#account-detail" role="tab" aria-controls="account-detail"
                                                aria-selected="true"><i class="fi-rs-user mr-10"></i>Account
                                                details</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="/logout"><i
                                                    class="fi-rs-sign-out mr-10"></i>Logout</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-md-8">
                                <div class="tab-content dashboard-content">
                                    <div class="tab-pane fade active show" id="dashboard" role="tabpanel"
                                        aria-labelledby="dashboard-tab">
                                        <div class="card">
                                            <div class="card-header">
                                                <h5 class="mb-0">Hello&nbsp;<%= user.name %>
                                                </h5>
                                            </div>
                                            <div class="card-body">
                                                <p>From your account dashboard. you
                                                    can easily check &amp; view your
                                                    <a href="#">recent orders</a>,
                                                    manage your <a href="#">shipping
                                                        and billing addresses</a>
                                                    and <a href="#">edit your
                                                        password and account
                                                        details.</a>
                                                </p>
                                            </div>
                                        </div>
                                    </div>


                                    <div class="tab-pane fade" id="address" role="tabpanel"
                                        aria-labelledby="address-tab">
                                        <div class="row d-flex">
                                            <div class="col-lg-6">

                                                <% if (address) { address.forEach(x=> {
                                                    if(x.is_listed){%>
                                                    <div class="card mb-3 mb-lg-0">
                                                        <div class="card-header">
                                                            <h5 class="mb-0"> Address</h5>
                                                        </div>
                                                        <div class="card-body">
                                                            <address>
                                                                <%= x.houseName %><br>
                                                                    <%= x.street %>,<br>
                                                                        <%= x.pincode %> <br>
                                                                            <%= x.city %>, <%= x.state %>
                                                            </address>
                                                            <p>
                                                                <%= x.country %>
                                                            </p>
                                                            <a href="/editAddress/?id=<%= x._id %>"
                                                                class="btn-small">Edit</a>

                                                            <input type="hidden" name="address_id" value="<%= x._id %>">

                                                            <a class="mx-5" href="#"
                                                                onclick="confirmDelete('<%= x._id %>')">
                                                                <button type="button"
                                                                    class="btn btn-danger">DELETE</button>
                                                            </a>

                                                        </div>
                                                    </div>
                                                    <%} }) } else { %>
                                                        <p>No address available.</p>
                                                        <% } %>

                                                            <a href="/addressForm"><button type="button"
                                                                    class="btn btn-fill-out my-3" id="addNewAddress">Add
                                                                    New
                                                                    Address</button></a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tab-pane fade" id="account-detail" role="tabpanel"
                                        aria-labelledby="account-detail-tab">
                                        <div class="card">
                                            <div class="card-header">
                                                <h5>Account Details</h5>
                                            </div>



                                            <div class="card-body" style="display: flex;">

                                                <aside class="col-lg-2">
                                                    <figure class="text-lg-center">
                                                        <% if (user.image) { %>
                                                            <img class="img-lg mb-3 img-avatar" id="previewImage"
                                                                src=""
                                                                alt="">
                                                            <% } else { %>
                                                                <img class="img-lg mb-3 img-avatar" id="previewImage"
                                                                    src="/userassets/images/<%= user.image %>"
                                                                    alt="User Photo">
                                                                <% } %>
                                                                    <figcaption>

                                                                        <form enctype="multipart/form-data"
                                                                            id="imageForm">
                                                                            <div class="input-upload mb-3">
                                                                                <% if (user.image) { %>
                                                                                    <img src="/userassets/images/<%= user.image %>"
                                                                                        alt="" id="imgView1"
                                                                                        style="width: 300px;">
                                                                                    <% } else { %>
                                                                                        <img src="/uploadimage.svg"
                                                                                            alt="" id="imgView1"
                                                                                            style="width: 300px;">
                                                                                        <% } %>
                                                                                            <input
                                                                                                style="display: none;"
                                                                                                class="form-data"
                                                                                                type="file" name="image"
                                                                                                id="input1"
                                                                                                accept="image/png, image/jpeg, image/jpg">
                                                                                            <label for="input1"
                                                                                                class="btn btn-primary rounded font-md"
                                                                                                style="cursor: pointer; margin-top: 10px;">
                                                                                                <i
                                                                                                    class="fa-solid fa-upload"></i>
                                                                                                Upload
                                                                                                Image
                                                                                            </label>
                                                                            </div>
                                                                            <div class="image-cropper mb-3"
                                                                                style="display:none; width: 300px;">
                                                                                <img src="" id="croppedImg1" alt="">
                                                                                <button type="button" id="saveButton1"
                                                                                    class="btn btn-primary">Save</button>
                                                                            </div>
                                                                        </form>

                                                                    </figcaption>
                                                    </figure>

                                                </aside>


                                                <table class="mx-5">
                                                    <tr>
                                                        <td><strong> Name <span class="required"></span></strong>
                                                        </td>
                                                        <td>
                                                            <%= user.name %>
                                                        </td>
                                                    </tr>

                                                    <tr>
                                                        <td><strong>Email
                                                                Address <span class="required"></span></strong></td>
                                                        <td>
                                                            <%= user.email %>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td><strong>Mobile No.
                                                                <span class="required"></span></strong></td>
                                                        <td>
                                                            <%= user.mobile %>
                                                        </td>
                                                    </tr>


                                                </table>

                                                <div class="col-lg-4">

                                                    <a href="/editUser"><button type="button"
                                                            class="btn btn-secondary">EDIT</button></a>


                                                    <a href="/changePassword">
                                                        <button type="button"
                                                            class="btn btn-secondary btn-sm mt-3">Change
                                                            Password</button>
                                                    </a>




                                                    <style>
                                                        /* Add your custom styles for the wallet icon here */
                                                        .wallet-icon {
                                                            font-size: 1.2rem;
                                                            /* Adjust the font size */
                                                            color: #33414a;
                                                            /* Adjust the color */
                                                            margin-right: 10px;
                                                            /* Add margin for spacing */
                                                            margin-top: 100px;
                                                            /* Add margin-top to the div */
                                                        }
                                                    </style>

                                                    <div class="wallet-icon ">
                                                        <i class="fas fa-wallet"> ₹<%= user.walletBalance %> </i>
                                                    </div>


                                                </div>






                                            </div>

                                        </div>

                                    </div>
                                </div>
                            </div>



                        </div>
                    </div>
                </div>
        </section>
    </main>
    <script>

        document.getElementById("fileUpload").addEventListener('change', function (event) {
            const file = event.target.files[0]
            if (file) {

                const reader = new FileReader()
                reader.onload = function (e) {
                    document.getElementById('previewImage').src = e.target.result
                }
                reader.readAsDataURL(file)

            }
        })

    </script>

    <script>
        function confirmDelete(addressId) {
            Swal.fire({
                title: 'Confirm Deletion',
                text: 'Are you sure you want to delete this address?',
                icon: 'question',
                showCancelButton: true,
                confirmButtonText: 'Yes, Delete Address',
                cancelButtonText: 'Cancel',
            }).then((result) => {
                if (result.isConfirmed) {

                    $.ajax({
                        url: '/deleteAddress/' + addressId,
                        type: 'GET',
                        contentType: 'application/json',
                        success: function (data) {
                            if (data.success) {
                                // Show success message
                                Swal.fire({
                                    icon: 'success',
                                    title: 'Address Deleted Successfully!',
                                    text: 'Click OK to proceed.',
                                    confirmButtonText: 'OK',
                                }).then((result) => {
                                    if (result.isConfirmed) {
                                        window.location.reload();
                                    }
                                });
                            } else {
                                // Show error message
                                Swal.fire({
                                    icon: 'error',
                                    title: 'Error',
                                    text: 'Error occurred while deleting address.',
                                });
                            }
                        },
                        error: function (error) {
                            console.error('Error:', error);

                            // Show error message
                            Swal.fire({
                                icon: 'error',
                                title: 'Error',
                                text: 'Error occurred while deleting address. Check the console for details.',
                            });
                        }
                    });
                }
            });
        }

    </script>


    <script>
        // Get the link element by ID
        const ordersTabLink = document.getElementById('orders-tab-link');

        // Add a click event listener to handle the navigation
        ordersTabLink.addEventListener('click', function (event) {
            // Prevent the default behavior of the link
            event.preventDefault();

            // Manually navigate to the specified URL
            window.location.href = '/orderSuccess';
        });
    </script>

    <!-- Include Cropper.js from CDN -->
   



    <script src="https://cdn.jsdelivr.net/npm/cropperjs@1.6.1/dist/cropper.min.js"></script> \
    <script>
        document.getElementById('input1').addEventListener('change', function (event) {
            let input = event.target;
            let reader = new FileReader();
            console.log("crop");

            reader.onload = function () {
                let dataURL = reader.result;
                let image = document.getElementById('imgView1');
                image.src = dataURL;

                // Initialize Cropper.js on the image
                let cropper = new Cropper(image, {
                    aspectRatio: 1,
                    viewMode: 1,
                    guides: true,
                    background: false,
                    autoCropArea: 1,
                    zoomable: true
                });

                // Show the image cropper container
                let cropperContainer = document.querySelector('.image-cropper');
                cropperContainer.style.display = 'block';

                // Update the cropped image when the "Save" button is clicked
                let saveButton = document.getElementById('saveButton1');
                saveButton.addEventListener('click', function () {
                    // Get the cropped canvas data
                    console.log("save");
                    const canvas = cropper.getCroppedCanvas();

                    if (!canvas) {
                        return;
                    }

                    // Convert the canvas to a Blob (in this case, to a JPEG file with quality 1.0)
                    canvas.toBlob(blob => {
                        const formData = new FormData();
                        formData.append('croppedImage', blob, 'cropped-image.jpg');

                        // Append any other necessary data to the form (if needed)
                        // formData.append('otherField', otherValue);

                        // Submit the form data to the backend using Fetch API or XMLHttpRequest
                        fetch('/updateProfilePic', {
                            method:'POST',
                            body: formData
                        })
                            .then(response => {
                                if (response.ok) {

                                    console.log("fetched");

                                    console.log('Cropped image submitted successfully!');
                                    window.location.reload();
                                } else {
                                    console.error('Failed to submit cropped image.');
                                    // Optionally, handle failed submission
                                }
                            })
                            .catch(error => {
                                console.error('Error submitting cropped image:', error);
                            });
                    }, 'image/jpeg'); // Set the desired image format here
                });
            };
            reader.readAsDataURL(input.files[0]);
        });
    </script>


    <%- include('../layouts/userFooter.ejs') %>